
<%= render "users/shared/error_messages", resource: resource %>
<%= render 'layouts/flashes' %>
  <body class="bg-color">

  <section class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-sm-12 bg-white p-5 rounded shadow">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-12 text-center">
          <h3 class="text-primary"><strong>Sign in</strong></h3>
        </div>
        <div class="mb-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
        </div>
        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>
        <div class="actions text-center mt-3">
          <%= f.submit "Sign in" ,class:"btn btn-primary btn-rounded w-75 mt-5"%>
        </div>
        <div class="mb-3 text-center text-secondary mt-3">
          or
        </div>
        <div class="mb-3 text-center text-secondary">
          <%= render "users/shared/links" %>
        </div>
        <% end %>
        <div>
        </div>
  </section>
</body>
